  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  @import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Changa:wght@200..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


  body{
    background-color:hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
  
  }

  .container {
    background-color: hsl(0, 0%, 100%);
    width:450px;
    height:600px;
    margin:auto;
    padding:auto;
    position: relative;
    top:50px;
    border-radius: 10px;
    border:black 1px solid;
    box-shadow: 5px 5px black;
  }

img {
    position: relative;
    left:25px;
    top:20px;
    width:400px;
    border-radius: 10px;
}

.learning{
    background-color: hsl(47, 88%, 63%);
    display:inline-block;
    padding:5px 10px 5px 10px;
    position: relative;
    top:27px;
    left:25px;
    border-radius:5px;
    font-weight: bold;
}

.published {
    color:black;
    position: relative;
    left:25px;
}

h1 {
    position: relative;
    left:25px;
}

h1:hover {
  color:hsl(47, 88%, 63%);
}

.paragraph {
   
    font-size:1.25rem;
    padding:auto;
    font-stretch: expanded;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight:500px;
  text-align:justify;
  position: relative;
  left:22px;
  opacity:0.3;
  word-spacing: 3px;
}

.writer {
  width:50px;
  height:50px;
  position: relative;
  top:3px;
}

.writer-name {
  position:relative;
  left:90px;
  bottom:50px;
  font-weight: bold;
}